/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../styles/login.css');

:root{
    --cor-fundo:rgba(91, 112, 131, 40%);
    --cor-branco:#FFFFFF;
    --cor-cinza-escuro:#71767B;
    --cor-preto-fonte:#0F1419;
    --cor-branco-fonte:#EFF3F4;
    --cor-azul-fonte:#1D9BF0;
    --azul-hover:#146DFB;
    --cor-border:#333639;
    --cor-border-2:#536471;
    --cor-fundo-login:#000000;
    --cor-branco-titulo:#E7E9EA;
    --fonte:"roboto";
}

body{
    font-weight: 400;
    font-size: 15px;
    color: var(--cor-branco);
    font-family: var(--fonte);
    background:var(--cor-fundo);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}